<table>
  <tr>
    <td>
      <p>
        Hi this is a reminder that you have a subscription that will be shipping on:
      </p>
      <p>
        <%= @subscription.next_actionable_date %>
      </p>
      <p>
        Thanks
      </p>
    </td>
    <td class="expander"></td>
  </tr>
</table>
